<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<title>Вопросы по математике</title>
		<link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap-theme.min.css">
	</head>
	<body>
		<button type="button" class="btn btn-primary" id="next-question-btn" disabled="disabled">
			<%= buttonText %>
		</button>
		<script type="text/html" id="taskContainer">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default" id="task">
							<div class="panel-heading">
								<h4 id="task-title" class="task-title">
									Задача № <%= taskTitle %>.
								</h4>
							</div>
							<div class="panel-body">
								<p id="task-question" class="task-question">
									<%= taskQuestion %>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</script>
		<script type="text/html" id="answersContainer">
			<ul class="list-unstyled" id="answers">
				<% _.each(answers, function(num,key){ %>
					<li>
						<label>
							<input type="radio" name="optionsRadios" value="<%= key %>"> <%= num %>
						</label>
					</li>
				<% }); %>
			</ul>
		</script>
		<script type="text/html" id="templateTasks">
			<p style="color:<%= color %>"><%= id %>. <%= question %><br/>Ваш ответ: <%= answer %>.</p>
		</script>
		<script type="text/html" id="testResult">
			<h4>Вы ответили правильно на <%= correctAnswers %> вопросов.</h4>
		</script>
		<script src="lib/jquery/dist/jquery.min.js">
		</script>
		<script src="lib/bootstrap/dist/js/bootstrap.min.js">
		</script>
		<script src="lib/underscore/underscore-min.js">
		</script>
		<script src="js/task.js">
		</script>
	</body>
</html>